@font-face {
  font-family: Inter Variable;
  src: url("../fonts/InterVariable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter Variable;
  src: url("../fonts/InterVariable-Italic.woff2") format("woff2");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

:root {
  /* Fonts */
  --text-font: "Inter Variable", Arial, sans-serif;

  /* Font metrics */
  --paragraph-xs-size: 11px;
  --paragraph-xs-line-height: 16px;
  --paragraph-s-size: 14px;
  --paragraph-s-line-height: 22px;
  --paragraph-m-size: 16.5px;
  --paragraph-m-line-height: 28px;
  --paragraph-l-size: 22px;
  --paragraph-l-line-height: 32px;
  --paragraph-l-letter-spacing: -0.44px;
  --paragraph-xl-size: 48px;
  --paragraph-xl-line-height: 56px;
  --paragraph-xl-letter-spacing: -1px;
  --ui-s-size: 14px;
  --ui-s-line-height: 16px;
  --ui-m-size: 16.5px;
  --ui-m-line-height: 22px;

  /* Colors */
  --colors-background: white;
  --colors-surface: #99a3ae14;
  --colors-text-primary: #363e48;
  --colors-text-secondary: #757a7f;
  --colors-text-tertiary: #a7acb2;
  --colors-accent: #0081ff;
  --colors-accent-b: #0081ff29;
  --colors-on-accent: white;
  --colors-button-primary-bg-hover: #0088f0d9;
  --colors-button-secondary-bg-hover: #0088f033;
  --colors-border-level-2: #99a3ae29; /* TODO: rename */
  --colors-border-level-3: #99a3ae52; /* TODO: rename */
  --colors-background-blur: #ffffffe6; /* TODO: use background */
  --colors-gradient-bg-start: #0081ff14;
  --colors-gradient-bg-end: #0081ff00;

  /* Sizing */
  --sizing-m-default-vertical: 12px;
  --sizing-m-section-vertical: 60px;
  --sizing-m-card-paddings: 24px;
  --sizing-m-button-vertical-padding: 12px;
  --sizing-m-button-horizontal-padding: 24px;
  --sizing-s-button-vertical-padding: 8px;
  --sizing-s-button-horizontal-padding: 16px;
  --header-1-size: 66px;
  --header-1-line-height: 64px;
  --header-font-weight: 600;
  --header-1-letter-spacing: -1.98px;
  --header-2-size: 49.5px;
  --header-2-line-height: 52px;
  --header-2-letter-spacing: -1.485px;
  --header-3-size: 38.5px;
  --header-3-line-height: 36px;
  --header-3-letter-spacing: -0.77px;
  --header-4-size: 27.5px;
  --header-4-line-height: 28px;
  --header-4-letter-spacing: -0.275px;
  --header-5-size: 22px;
  --header-5-line-height: 24px;
  --ui-button-font-weight: 500;
}

.theme-light {
  --colors-background: white;
  --colors-surface: #99a3ae14;
  --colors-text-primary: #363e48;
  --colors-text-secondary: #757a7f;
  --colors-text-tertiary: #a7acb2;
  --colors-accent: #0081ff;
  --colors-accent-b: #0081ff29;
  --colors-on-accent: white;
  --colors-button-primary-bg-hover: #0088f0d9;
  --colors-button-secondary-bg-hover: #0088f033;
  --colors-border-level-2: #99a3ae29;
  --colors-border-level-3: #99a3ae52;
  --colors-background-blur: #ffffffe6;
  --colors-gradient-bg-start: #0081ff14;
  --colors-gradient-bg-end: #0081ff00;
}

.theme-dark {
  --colors-background: #1f1f20;
  --colors-surface: #9aa3af14;
  --colors-text-primary: #e5f0fc;
  --colors-text-secondary: #c2c7cd;
  --colors-text-tertiary: #94999f;
  --colors-accent: #0081ff;
  --colors-accent-b: #0081ff29;
  --colors-on-accent: white;
  --colors-button-primary-bg-hover: #0088f0d9;
  --colors-button-secondary-bg-hover: #0088f04d;
  --colors-border-level-2: #9aa3af29;
  --colors-border-level-3: #9aa3af52;
  --colors-background-blur: #1f1f20e6;
  --colors-gradient-bg-start: #0081ff1f;
  --colors-gradient-bg-end: #0081ff00;
}

.page-container {
  max-width: 1008px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  background-color: var(--colors-background);
  font-family: var(--text-font);
  color: var(--colors-text-primary);
  font-size: var(--paragraph-m-size);
  line-height: var(--paragraph-m-line-height);
}

h1 {
  margin-top: var(--sizing-m-default-vertical);
  margin-bottom: var(--sizing-m-section-vertical);
  font-size: var(--header-1-size);
  line-height: var(--header-1-line-height);
  font-weight: var(--header-font-weight);
  letter-spacing: var(--header-1-letter-spacing);
}

h2 {
  margin-top: 32px;
  margin-bottom: var(--sizing-m-default-vertical);
  font-size: var(--header-2-size);
  line-height: var(--header-2-line-height);
  font-weight: var(--header-font-weight);
  letter-spacing: var(--header-2-letter-spacing);
}

h3 {
  margin-top: 32px;
  margin-bottom: var(--sizing-m-default-vertical);
  font-size: var(--header-3-size);
  line-height: var(--header-3-line-height);
  font-weight: var(--header-font-weight);
  letter-spacing: var(--header-3-letter-spacing);
}

h4 {
  margin-top: 32px;
  margin-bottom: var(--sizing-m-default-vertical);
  font-size: var(--header-4-size);
  line-height: var(--header-4-line-height);
  font-weight: var(--header-font-weight);
  letter-spacing: var(--header-4-letter-spacing);
}

h5 {
  margin-top: 32px;
  margin-bottom: var(--sizing-m-default-vertical);
  font-size: var(--header-5-size);
  line-height: var(--header-5-line-height);
  font-weight: var(--header-font-weight);
}

p {
  margin-top: var(--sizing-m-default-vertical);
  margin-bottom: var(--sizing-m-default-vertical);
}

a {
  color: var(--colors-accent);
  -webkit-text-stroke-width: 0px;
  text-underline-offset: 0px;
  text-decoration: underline;
  -webkit-text-decoration-color: var(--colors-accent-b);
  text-decoration-color: var(--colors-accent-b);
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  text-underline-position: under;
  text-decoration-thickness: 2px;

  &.tertiary {
    color: var(--colors-text-tertiary);
    text-decoration: none;

    &:hover {
      color: var(--colors-text-secondary);
    }
  }
}

a:hover {
  color: var(--colors-button-primary-bg-hover);
}

ul,
ol {
  margin-top: 16px;
  margin-bottom: 16px;
  padding-left: 40px;
}

li {
  margin-top: 8px;
  margin-bottom: 8px;
}

blockquote {
  font-size: var(--paragraph-m-size);
  line-height: var(--paragraph-m-line-height);
  border-left: 5px solid #e2e2e2;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 12px 40px 12px 36px;
}

img {
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
}

section {
  padding-top: var(--sizing-m-section-vertical);
  padding-bottom: var(--sizing-m-section-vertical);
}

.heading {
  margin-bottom: var(--sizing-m-default-vertical);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: column;
  max-width: 672px;
  display: flex;
}

.heading.first-screen {
  padding-bottom: 36px;
}

.heading.centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.content {
  padding-top: var(--sizing-m-section-vertical);
  padding-bottom: var(--sizing-m-section-vertical);
  max-width: 720px;
}

/* Text */

/* Style used for content */
.paragraph {
  &.xs {
    font-size: var(--paragraph-xs-size);
    line-height: var(--paragraph-xs-line-height);
  }

  &.s {
    font-size: var(--paragraph-s-size);
    line-height: var(--paragraph-s-line-height);
  }

  &.m {
    font-size: var(--paragraph-m-size);
    line-height: var(--paragraph-m-line-height);
  }

  &.l {
    font-size: var(--paragraph-l-size);
    line-height: var(--paragraph-l-line-height);
    letter-spacing: var(--paragraph-l-letter-spacing);
  }

  &.bold {
    font-weight: 600;
  }
}

/* Styles for UI elements */
.ui {
  &.s {
    font-size: var(--ui-s-size);
    line-height: var(--ui-s-line-height) !important;
  }

  &.pseudo-link,
  .pseudo-link {
    text-decoration: underline;
    -webkit-text-decoration-color: var(--colors-accent-b);
    text-decoration-color: var(--colors-accent-b);
    text-decoration-thickness: 2px;
  }
}

/* Buttons */

.button {
  display: flex;
  cursor: pointer;
  border: none;
  text-decoration: none;
  background: transparent;
  padding: var(--sizing-m-button-vertical-padding)
    var(--sizing-m-button-horizontal-padding);
  font-size: var(--ui-m-size);
  line-height: var(--ui-m-line-height);
  font-weight: var(--ui-button-font-weight);
  text-align: center;
  border-radius: 12px;
  grid-column-gap: 8px;
  justify-content: center;
  align-items: center;

  &.primary {
    background-color: var(--colors-accent);
    color: var(--colors-on-accent);

    &:hover {
      background-color: var(--colors-button-primary-bg-hover);
      color: var(--colors-on-accent);
    }
  }

  &.secondary {
    background-color: var(--colors-accent-b);
    color: var(--colors-accent);

    &:hover {
      background-color: var(--colors-button-secondary-bg-hover);
    }
  }

  &.tertiary {
    box-shadow: inset 0 0 0 1px var(--colors-border-level-3);
    color: var(--colors-text-secondary);

    &:hover {
      background-color: var(--colors-surface);
      color: var(--colors-text-primary);
    }
  }

  &.ghost {
    background: transparent;
    padding: var(--sizing-m-button-vertical-padding)
      var(--sizing-m-button-horizontal-padding);
    color: var(--colors-text-primary);

    &:hover {
      background-color: var(--colors-border-level-2);
      color: var(--colors-on-accent);
    }

    &.active {
      background-color: var(--colors-border-level-3);
    }

    &.compact {
      padding: var(--sizing-s-button-vertical-padding) 12px;
    }
  }

  &.compact {
    padding: var(--sizing-s-button-vertical-padding)
      var(--sizing-s-button-horizontal-padding);
    border-radius: 8px;
  }
}

/* Button groups */

.button-group {
  grid-column-gap: 12px;
  flex-flow: wrap;
  align-items: center;
  display: flex;

  &.margin-paragraph {
    margin-top: var(--sizing-m-default-vertical);
    margin-bottom: var(--sizing-m-default-vertical);
  }

  &.centered {
    justify-content: center;
    align-items: center;
  }
}

.list-s {
  font-size: var(--paragraph-s-size);
  line-height: var(--paragraph-s-line-height);
}

.block-quote-s {
  font-size: var(--paragraph-s-size);
  line-height: var(--paragraph-s-line-height);
}

/* Icons */

.icon-s {
  display: flex !important;
  align-items: center;
  color: var(--colors-text-tertiary);
  font-size: var(--paragraph-s-size);
}

.icon-m {
  display: flex !important;
  align-items: center;
  color: var(--colors-text-tertiary);
  font-size: var(--paragraph-m-size);
}

.icon-l {
  display: flex !important;
  align-items: center;
  color: var(--colors-text-tertiary);
  font-size: var(--paragraph-l-size);
  line-height: var(--ui-l-line-height);
}

.icon-xl {
  display: flex !important;
  align-items: center;
  color: var(--colors-text-tertiary);
  font-size: var(--paragraph-xl-size);
  line-height: var(--ui-xl-line-height);
}

/* Navigation */

.nav-container {
  position: sticky;
  inset: 24px 0% auto;
  display: flex;
  justify-content: space-between;
  background-color: var(--colors-background-blur);
  box-shadow: 0 0 0 1px var(--colors-border-level-2);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  border-radius: 16px;
  max-width: 1008px;
  padding: 12px 12px 12px 24px;
}

.nav-brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  color: var(--colors-text-secondary);
  font-size: var(--ui-m-size);
  line-height: var(--ui-m-line-height);
  font-weight: var(--ui-button-font-weight);
  border-radius: 8px;
  padding: 8px 16px;
  display: inline-block;
  text-decoration: none;
}

.nav-link:hover {
  color: var(--colors-text-primary);
}

.nav-link:active {
  color: var(--colors-text-tertiary);
}

.div-block {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.background-gradient {
  position: absolute;
  background-image: linear-gradient(
    180deg,
    var(--colors-gradient-bg-start),
    var(--colors-gradient-bg-end)
  );
  width: 100%;
  height: 80vh;
  z-index: -10;
}

.image-wide {
  margin-top: var(--sizing-m-default-vertical);
  margin-bottom: var(--sizing-m-default-vertical);
  width: 116%;
  max-width: none;
  margin-left: -8%;
}

.footer {
  border-top: 1px solid var(--colors-border-level-2);
  margin-top: 48px;
  padding-top: 60px;
  padding-bottom: 24px;
}

.button-group-inline {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  display: inline-flex;
}

.mobile-only,
.nav-hamburger {
  display: none;
}

.clients-container {
  display: flex;
  gap: 36px;
  flex-flow: wrap;
  place-content: stretch center;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.text-centered {
  text-align: center;
}

.feature-card {
  padding: var(--sizing-m-card-paddings);
  background-color: var(--colors-surface);
  border-radius: 16px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: flex-start;
}

.feature-heading {
  max-width: 672px;
}

.grid {
  display: grid;
  margin-top: var(--sizing-m-default-vertical);
  margin-bottom: var(--sizing-m-default-vertical);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  grid-template-rows: auto;
  grid-auto-columns: 1fr;
}

.grid.gap-l {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.grid.gap-xl {
  grid-column-gap: 60px;
  grid-row-gap: 60px;
}

.columns-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.columns-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.columns-1\/2-1 {
  grid-template-columns: minmax(0, 0.5fr) minmax(0, 1fr);
}

.columns-1-1\/2 {
  grid-template-columns: minmax(0, 1fr) minmax(0, 0.5fr);
}

.card-with-icon {
  border-radius: 24px;
}

.cards-with-icons-container {
  margin-top: var(--sizing-m-default-vertical);
  margin-bottom: var(--sizing-m-default-vertical);
  grid-column-gap: 36px;
  grid-row-gap: 36px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-top: 24px;
  padding-bottom: 24px;
  display: grid;
}

.no-top-margin {
  margin-top: 0;
}

.code-block-text-s {
  font-size: var(--paragraph-s-size);
  line-height: var(--paragraph-s-line-height);
}

.card-code-block {
  padding: var(--sizing-m-card-paddings);
  border: 1px solid var(--colors-border-level-2);
  border-radius: 16px;
}

.card-code-block.dark {
  background-color: #2b2b2b;
}

.nav-link-external {
  display: flex;
}

.accordion-container {
  border-top: 1px solid var(--colors-border-level-2);
  flex-flow: column;
  display: flex;
}

.accordion-item {
  border-bottom: 1px solid var(--colors-border-level-2);
  width: 100%;
  overflow: hidden;
}

.accordion-toggle {
  padding: var(--sizing-m-card-paddings);
  align-items: center;
  display: flex;
  cursor: pointer;
}

.accordion-toggle:hover {
  color: var(--colors-text-secondary);
}

.accordion-chevron {
  margin-left: auto;
  color: var(--colors-text-tertiary);
}

[open] .accordion-chevron {
  transform: rotate(180deg);
}

.accordion-content {
  padding-right: 48px;
  padding-bottom: var(--sizing-m-button-vertical-padding);
  padding-left: var(--sizing-m-card-paddings);
  background-color: #0000;
  display: block;
}

.section-copy {
  padding-top: var(--sizing-m-section-vertical);
  padding-bottom: var(--sizing-m-section-vertical);
}

.link-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding-top: 12px;
}

.columns {
  margin-bottom: 24px;
}

.link-list-horizontal {
  display: flex;
  gap: var(--sizing-m-button-horizontal-padding);
}

.footer-layout {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 2fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-bottom: 24px;
  display: grid;
}

.heading-1-tight {
  margin-bottom: var(--sizing-m-default-vertical);
}

.toggle-button-container {
  background-color: var(--colors-surface);
  box-shadow: 0 0 0 4px var(--colors-surface);
  border-radius: 10px;
  display: inline-block;
  position: relative;
}

.toggle-option-button {
  border: none;
  padding-top: var(--sizing-s-button-vertical-padding);
  padding-bottom: var(--sizing-s-button-vertical-padding);
  color: var(--colors-text-primary);
  font-size: var(--ui-m-size);
  line-height: var(--ui-m-line-height);
  text-align: center;
  background-color: #0000;
  border-radius: 8px;
  min-width: 120px;
}

.toggle-current-option-marker {
  z-index: -1;
  background-color: var(--colors-background);
  box-shadow: 0 0 0 1px var(--colors-border-level-2);
  border-radius: 8px;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.price-line {
  display: flex;
  gap: 2px;
  justify-content: flex-start;
  align-items: baseline;
}

.list-s-features {
  font-size: var(--paragraph-s-size);
  line-height: var(--paragraph-s-line-height);
  padding-left: 0;
}

.list-s-features.separator-on-top {
  border-top: 1px solid var(--colors-border-level-3);
  margin-top: 24px;
  padding-top: 16px;
}

.list-s-item-feature {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.vertical-stretch-container {
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
}

.table {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: flex;
}

.table-header-row {
  padding-top: var(--sizing-m-button-vertical-padding);
  padding-bottom: var(--sizing-m-button-vertical-padding);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  border-bottom: 1px solid var(--colors-border-level-2);
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.table-row {
  padding-top: var(--sizing-m-button-vertical-padding);
  padding-bottom: var(--sizing-m-button-vertical-padding);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  border-bottom: 1px solid var(--colors-border-level-2);
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  place-items: center start;
  display: grid;
}

.icon-link {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  color: var(--colors-accent);
  align-items: center;
  text-decoration: none;
  display: flex;
}

.icon-link-s {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  align-items: center;
  text-decoration: none;
  text-decoration-thickness: 0;
  display: flex;
}

.icon-link-s:hover {
  color: var(--colors-button-primary-bg-hover);
}

.flex-block {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  justify-content: flex-start;
  align-items: center;
}

.text-link-m {
  text-decoration: underline;
  -webkit-text-decoration-color: var(--colors-accent-b);
  text-decoration-color: var(--colors-accent-b);
}

.full-width {
  width: 100%;
}

.margin-top-l {
  margin-top: 24px;
}

.margin-top-xl {
  margin-top: 48px;
}

.secondary {
  color: var(--colors-text-secondary);
}

.tertiary {
  color: var(--colors-text-tertiary);
}

.color-accent {
  color: var(--colors-accent);
}
